/* CSS Document */
.uvodni-nadpis {
            font-size: 35px;
            padding: 10px;
            background-color: rgb(41, 43, 44);

        }

        body {
            background-color: rgba(143, 143, 143, 0.089);
        }

        h5 {
            font-family: Verdana
        }